:root {
    --color-nav: #7c3aed;
    --color-bg: #f5f3ff;
    --color-text: #312e81;
  }
  
  .navbar, footer {
    background-color: var(--color-nav) !important;
  }
 
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  
  .btn-primary {
    background-color: #7c3aed;
    border-color: #0f1011;
  }
  .texto-morado{
    color: var(--color-nav);
  }

/* Ajustes para responsive */
@media (max-width: 768px) {
    .timeline::after {
        left: 31px;
    }
    
    .timeline-date {
        position: relative;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .timeline-content {
        margin-left: 60px;
    }
    
    .timeline-content::after {
        left: -40px;
    }
}